@use "../base/all-base" as *;

.checklist {
    display: flex;
    
    &__item {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        padding: 24px 32px;
        border-radius: 5px;
        background-color: $color-rice;
        
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        gap: 15px;
    }
}


.tasks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    // padding: 0 32px;
    // height: 76px;

    &__header {
        @include ellipsis;
        display: flex;
        gap: 16px;
        align-items: center;

        label {
            @extend %subtitle;
            font-weight: 500;
            position: relative;
        }



        // 改變checkbox樣式
        input[id="tasks"] + label {
            flex: 1 0 auto;
            display: inline-block;
            width: 24px;
            height: 24px;
            background-color: $color-white;
            border: 0;
            border-radius: 2px;
            cursor: pointer;
          }
          input[id="tasks"]:checked + label:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;

            border-radius: 2px;

            display: flex;
            justify-content: center;
            align-items: center;
            content: "\f00c";
            font-weight: 900;
            font-family: "Font Awesome 6 Sharp";
            
            font-size: 20px;
            color: $color-white;
            background-color: $color-lightblue;

          }
          input[id="tasks"] {
            display: none;
        }
          

    }

    &__body {
        display: flex;
        gap: 32px;
    }
}

.list {
    margin-left: 40px;
    display: flex;
    gap: 17px;
    color: $color-gray-400;
}


.useless {
    display: flex;
    
    &__item {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        padding: 24px 32px;
        border-radius: 5px;
        background-color: $color-gray-100;
        
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        gap: 15px;
    }
}