@use "../base/color" as *;
@use "../component/button" as *;
@use "../base/breckpoint" as *;

header {
    top: 0;
    position: fixed;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    // box-sizing: border-box;
    // min-height: 76px;
    width: 100%;
    background-color: $color-lightblue;
}

.nav__header {
    display: flex;
    flex-direction: row;

    @include device($ipad) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
