@use '../base/color';

// $orange-100: color.$orange-100;

@mixin tasknostatus($color) {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  border-radius: 5px;
  padding: 1.5rem 2rem;
  background-color: $color;
  
  font-size: 1.5rem;
}

.task_add {
  // display: flex;
  // justify-content: space-between;
  // gap: 2rem;

  border-radius: 5px;
  padding: 1.5rem 2rem;
  background-color: color.$grey-100;
  
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: 2px color.$grey-500 solid;
  color: color.$grey-300;
  i {
    margin-right: .5rem;
    // font-size: 2rem;
    // line-height: 2rem;
  }
}

.task_nostatus {
  @include tasknostatus(color.$grey-100);
}
.task_top {
  @include tasknostatus(color.$orange-100);
  .fa-star {
    color: color.$orange-500;
  }
}
i.far.fa-star:hover{
  color: color.$orange-500;
}