@use "../base/all-base";



.infor {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;

    &__item {
        width: 470px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
