$blue: #00408B;
$light-blue: #4A90E2;
$red: #D0021B;
$orange-100: #FFF2DC;
$orange-500: #F5A623;
$grey-100: #F2F2F2;
$grey-300: #E1E1E1;
$grey-500: #C8C8C8;
$grey-700: #757575;
$white: #FFFFFF;
$black: #000000;