*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: unset;
}
input,
textarea {
  border: none;
  outline: none;
}
:root{
  font-family: 'Roboto';
  font-weight: 400;
}