//cold
$color-lightblue: #4a90e2;
$color-darkblue: #00408b;
//worm
$color-rose: #d0021b;
$color-corn: #f5a623;
$color-rice: #fff2dc;
//black & white
$color-white:#ffffff;
$color-black:#000000;
$color-gray-100:#f2f2f2;
$color-gray-200:#e1e1e1;
$color-gray-300:#c8c8c8;
$color-gray-400:#757575;